#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

if [ "$1" != "configure" ] || [ "$2" = "" ]; then
    exit 0
fi

TRANSITION_VERSION="0.20200422.0"

if dpkg --compare-versions "$2" ge $TRANSITION_VERSION; then
    exit 0
fi

db_input high gst_droid/upgrade_droidmedia_to_20200424 || true
db_go
